/** Police **/
	@font-face {
		font-family: "Quicksand";
		font-weight: 300;
		src: url('../fonts/quicksand/Quicksand-Light.ttf');
	}
	@font-face {
		font-family: "Quicksand";
		font-weight: normal;
		src: url('../fonts/quicksand/Quicksand-Regular.ttf');
	}
	@font-face {
		font-family: "Quicksand";
		font-weight: 500;
		src: url('../fonts/quicksand/Quicksand-Medium.ttf');
	}
	@font-face {
		font-family: "Quicksand";
		font-weight: bold;
		src: url('../fonts/quicksand/Quicksand-Bold.ttf');
	}
	@font-face {
		font-family: "ABeeZee";
		font-weight: normal;
		font-style: normal;
		src: url('../fonts/abeezee/ABeeZee-Regular.ttf');
	}
	@font-face {
		font-family: "ABeeZee-Italic";
		font-weight: normal;
		font-style: italic;
		src: url('../fonts/abeezee/ABeeZee-Italic.ttf');
	}

/** CSS mise en page **/
   	body{
		background: #4a4e4d;
	}

	.box{
		width: 1000px;
		height: 800px;
		font-size: 40px;
		padding: 20px;
		border: 1px solid black;
		border-radius: 20px;
		box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
		background: #EFEFEF;
	}

	h2{
		color: #f78972;
		font-family: "ABeeZee";
	}
	h2:after{
		content: ' ';
		display: block;
		width: 200px;
		height: 2px;
		background: #f78972;
		margin-top: 15px;
	}

	p{
		color: #1c9ba8;
		font-family: "Quicksand";
		margin-left: 10%;
	}

	.number{
		position: absolute;
		bottom: 0;
		right: 25px;
		font-size: 24px;
	}

	.sommary{
		display: block;
		position: absolute;
	    bottom: 18px;
	    right: 70px;
	    padding: 5px;
	}
	.sommary img{
		width: 30px !important;
	    height: auto !important;
	}

	.sommary:hover{
		box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, 0.2);
	}

/** step-1 **/
#step-1{
	text-align: center;
	vertical-align: middle;
}

#step-1 p{
	margin-left: 0;
	font-size: 24px;
	margin-top: 10%;
}

#step-1 h2:after{
	display: none;
}

#step-1 img{
	padding-top: 12%;
}

/** step-2 **/
#step-2 ul{
	width: 350px;
	margin: 0 auto;
	margin-top: 120px;
}

#step-2 ul li{
	list-style: none;
	color: #1c9ba8;
	font-family: "Quicksand";
	line-height: 2em;
}

#step-2 ul li:nth-child(1){
	opacity: 0;

	transition: all 1s ease 1s;
}
#step-2.active ul li:nth-child(1){
	opacity: 1;
}

#step-2 ul li:nth-child(2){
	opacity: 0;

	transition: all 1s ease 2s;
}
#step-2.active ul li:nth-child(2){
	opacity: 1;
}

#step-2 ul li:nth-child(3){
	opacity: 0;

	transition: all 1s ease 3s;
}
#step-2.active ul li:nth-child(3){
	opacity: 1;
}

#step-2 ul li:nth-child(4){
	opacity: 0;

	transition: all 1s ease 4s;
}
#step-2.active ul li:nth-child(4){
	opacity: 1;
}

#step-2 ul li:nth-child(5){
	opacity: 0;

	transition: all 1s ease 5s;
}
#step-2.active ul li:nth-child(5){
	opacity: 1;
}





/** step-3 **/
#step-3 div{
	float: left;
	display: inline-block;
	width: 30%;
	/*margin-left: 3%;*/
	margin-left: 20px;
	margin-top: 50px;
}

#step-3 div img{
	width: 50%;
	height: auto;
	margin-left: 31%;
}

#step-3 div p{
	text-align: center;
	padding-bottom: 10%;
}


#step-3 div:nth-child(2) {
	opacity: 0;

	transition: all 1s ease 1s;
}
#step-3.active div:nth-child(2) {
	opacity: 1;
}

#step-3 div:nth-child(3) {
	opacity: 0;

	transition: all 1s ease 2s;
}
#step-3.active div:nth-child(3) {
	opacity: 1;
}

#step-3 div:nth-child(4) {
	opacity: 0;

	transition: all 1s ease 3s;
}
#step-3.active div:nth-child(4) {
	opacity: 1;
}




/** step-4 **/

#step-4 p{
	text-align: center;
	margin-left: 0;
}

#step-4 img{
	width: 57%;
	height: auto;
	margin-left: 22%;
	text-align: center;
	border-radius: 50%;
	margin-top: 40px;

}

#step-4 > div {
	position: relative;
	top: 1000px;
	opacity: 0;

	transition: all 1s ease 1s;
}
#step-4.active > div {
	top: 0px;
	opacity: 1;
}






/** step-5 **/
#step-5 img{
	width: 90%;
	margin-left: 4%;
	margin-top: 10%;
	opacity: 0;

	transition: opacity 1s ease 1s;
}
#step-5.active img{
	opacity: 1;
}

/** step-6 **/

#step-6 > img:nth-child(2){
	opacity: 0;
	width: 10%;
	/*margin-left: 4%;
	margin-top: 15%;*/
	margin: 250px auto;
	display: block;

	transition: all 1s ease 1s;
}
#step-6.active img:nth-child(2){
	width: 90%;
	opacity: 1;
}



/** step-7 **/
.demo > img:nth-child(2){
	width: 100%; 
	margin: 0 auto;
	display: block;
	border: 2px solid #1c1c1c;
}




/** step-12 **/ 

#step-12 p{
	text-align: center;
	margin-left: 0;
}

#step-12 img{
	width: 57%;
	height: auto;
	margin-left: 22%;
	text-align: center;
	margin-top: 40px;

}

#step-12 > div {
	position: relative;
	top: 1000px;
	opacity: 0;

	transition: all 1s ease 1s;
}
#step-12.active > div {
	top: 0px;
	opacity: 1;
}



/** step-13 **/
#step-13 > p:nth-child(2) {
	text-align: center;
	margin-left: 0px;
	margin-top: 100px;
}

#step-13 img{
	width: 20%; 
	height: auto;
	margin-left: 10%;
}


#step-13 img:nth-child(3) {
	opacity: 0;

	transition: all 1s ease 1s;
}
#step-13.active img:nth-child(3) {
	opacity: 1;
}

#step-13 img:nth-child(4) {
	opacity: 0;

	transition: all 1s ease 2s;
}
#step-13.active img:nth-child(4) {
	opacity: 1;
}

#step-13 img:nth-child(5) {
	opacity: 0;

	transition: all 1s ease 3s;
}
#step-13.active img:nth-child(5) {
	opacity: 1;
}



/** step-14 **/

#step-14 h2 {
	margin-bottom: 200px;
}

#step-14 img{
	width: 20%; 
	height: auto;
	margin-left: 10%;
}

#step-14 > img:nth-child(3) {
	margin-left: 12%;
}

#step-14 > p:nth-child(4){
	display: block;
    width: 20%;
    margin-right: 5%;
    float: right;
    color: black;
    font-family: "Quicksand";
    line-height: 3em;
    font-weight: bold;
}

#step-14 img:nth-child(2) {
	opacity: 0;

	transition: all 1s ease 1s;
}
#step-14.active img:nth-child(2) {
	opacity: 1;
}

#step-14 img:nth-child(3) {
	opacity: 0;

	transition: all 1s ease 2s;
}
#step-14.active img:nth-child(3) {
	opacity: 1;
}

#step-14 p:nth-child(4) {
	opacity: 0;

	transition: all 1s ease 3s;
}
#step-14.active p:nth-child(4) {
	opacity: 1;
}




/** step-15 **/
#step-15 > p:nth-child(2) {
	text-align: center;
	margin-left: 0px;
	margin-top: 100px;
	font-family: "Quicksand";
	font-size: 1.4em;
	font-weight: bold;
	opacity: 0;

	transition: all 1s ease 1s;
}
#step-15.active > p:nth-child(2) {
	opacity: 1;
}

#step-15 img{
	width: 20%; 
	height: auto;
	margin-left: 10%;
	vertical-align: top;
}


#step-15 img:nth-child(3) {
	opacity: 0;

	transition: all 1s ease 2s;
}
#step-15.active img:nth-child(3) {
	opacity: 1;
}

#step-15 img:nth-child(4) {
	opacity: 0;
	margin-top: 20px;

	transition: all 1s ease 3s;
}
#step-15.active img:nth-child(4) {
	opacity: 1;
}

#step-15 img:nth-child(5) {
	opacity: 0;
	margin-top: 80px;

	transition: all 1s ease 4s;
}
#step-15.active img:nth-child(5) {
	opacity: 1;
}








/** step-16 **/
#step-16 > img{
	width: 15%;
	display: block;
	position: absolute;
	right: 22%;
	top: 35%;
}

/** step-17 **/
#step-17 img{
	/*width: 80%;
	height: auto;
	margin-left: 10%;*/

	width: 60%; 
	height: auto;
	margin-left: 10%;
}