/** Fonts **/

	@font-face {
		font-family: "Quicksand";
		font-weight: 300;
		src: url('../fonts/quicksand/Quicksand-Light.ttf');
	}
	@font-face {
		font-family: "Quicksand";
		font-weight: normal;
		src: url('../fonts/quicksand/Quicksand-Regular.ttf');
	}
	@font-face {
		font-family: "Quicksand";
		font-weight: 500;
		src: url('../fonts/quicksand/Quicksand-Medium.ttf');
	}
	@font-face {
		font-family: "Quicksand";
		font-weight: bold;
		src: url('../fonts/quicksand/Quicksand-Bold.ttf');
	}
	@font-face {
		font-family: "ABeeZee";
		font-weight: normal;
		font-style: normal;
		src: url('../fonts/abeezee/ABeeZee-Regular.ttf');
	}
	@font-face {
		font-family: "ABeeZee";
		font-weight: normal;
		font-style: italic;
		src: url('../fonts/abeezee/ABeeZee-Italic.ttf');
	}




/** CSS mise en page **/

   	body{
		background: #1C1C1C;
	}

	.box{
		width: 800px;
		height: 600px;
		font-size: 40px;
	}

	h2{
		color: #EFEFEF;
		font-family: "Quicksand";
		font-weight: bold;
	}

	p{
		color: #EFEFEF;
		font-size: 1.1em;
		font-family: "Quicksand";
	}


	.plus{
		font-size: 1.3em;
		font-weight: bold;
	}

	.clear{
		clear: both;
	}


/* color */

	.rouge{
		color: #f58972;
	}

	.bleu{
		color: #1c9ba8;
	}

	.grisBack{
		color: #1C1C1C;
	}


/* transition commune */
	.floatElevate {
		display: inline-block;
		animation: floatElevate 1.5s ease infinite;
	}

	@keyframes floatElevate{
		from{
			transform: translateY(0px);
		}

		50% {
			transform: translateY(-5px);
		}

		to{
			transform: translateY(0px);
		}
	}



/** step-1 **/

	#step-1{
		margin-top: 70px;
		padding: 30px 50px;
		display: inline;
		text-align: center;
		color: #4a4e4d;


		animation: opacityOneIt 3s linear;
	}

	@keyframes opacityOneIt {
	  from {
	  	opacity: 0;
	  }

	  to {
	   opacity: 1;
	  }
	}


	.logo{
		height: 240px;
		width: 500px;
		margin: 0 auto;

		animation: zoomOneIt 3s ease;
	}

	@keyframes zoomOneIt {
	  from {
	  	height: 80px;
	  	width: 170px;
	  }

	  to {
	    height: 240px;
	    width: 500px;
	  }
	}

	.logo > img{
		width: 100%;

    	animation: zoomAuto 3s ease 2.5s infinite;

	}

	@keyframes zoomAuto {
	  from {
	  	width: 100%;
	    margin-top: 0%;
	  }

	  50% {
	  	width: 70%;
	  	margin-top: 7.5%;
	  }

	  to {
	    width: 100%;
	    margin-top: 0%;
	  }
	}


	


/** step-2 **/

	#step-2{
		transition: all 1.5s ease;
	}

	#step-2 p:first-child {
		text-align: center;
		font-family: 'Quicksand';
		font-weight: bold;
		height: 50px;
	}
	
	#step-2 > .firstDiv img{
		width: 200px;
		border: 4px solid white;
		border-radius: 50%;
		position: relative;
		left: 0px;
		top: 0px;

		animation: opacityAuto 3s ease-out infinite;
	}

	@keyframes opacityAuto {
	  from {
	  	opacity: 1;
	  	transform: rotateZ(360deg);
	  }

	  20% {
	  	opacity: 1;
	  }

	  50% {
	  	opacity: 0.1;
	  }

	  80% {
	  	opacity: 1;
	  }

	  to {
	   opacity: 1;
	  }
	}

	#step-2 h2{
		font-family: "Quicksand";
		font-weight: bold;
		font-size: 2.6em;
		color: #1C1C1C;

		position: absolute;
		top: -45px;
		left: 20px;
	}

	#step-2 > .firstDiv > *{
		float: left;
	}

	#step-2 > .firstDiv > p{
		width: 550px;
		margin-left: 40px;
		margin-top: 40px;
		font-family: 'Quicksand';
		font-size: 0.8em;
	}

	#step-2 > .firstDiv {
		height: 300px;

		transform: translateX(1500px);
		opacity: 0;
		transition: all 1.5s ease 1.5s;
	}

	#step-2.active > .firstDiv {
		transform: translateX(0px);
		opacity: 1;
	}

	#step-2 p:last-child {
		text-align: center;
		font-family: 'Quicksand';
		font-style: italic;
		display: block;
		font-size: 0.8em;

		transform: translateX(1500px);
		opacity: 0;
		transition: all 1.5s ease 4s;
	}

	#step-2.active p:last-child {
		transform: translateX(0px);
		opacity: 1;
	}

	#step-2 > div.floatElevateImg {
		width: 80px;
		position: absolute;
		left: 2250px;
		top: 400px;

		opacity: 0;
		transition: all 1.5s ease 4s;

		animation: floatElevate 1.5s ease infinite;
	}

	#step-2.active > div.floatElevateImg {
		left: 750px;
		opacity: 1;
	}

	#step-2 > .floatElevateImg > img {
		width: 80px;
		transform: rotateY(180deg);
	}






/** step-3 **/

	/* transition step 2 to 3 */
	#step-2.past {
		opacity: 0;
	}

	#step-3 {
		margin-top: 50px;
		text-align: center;
		opacity: 0;
		transition: all 1s ease;
	}

	#step-3.active {
		opacity: 1;
	}

	#step-3 > p {
		transform: translateY(1000px);
		transition: all 1.5s ease 1s;
	}

	#step-3.active > p {
		transform: translateY(0px);
	}




/** step-4 **/

	/* transition step 3 to 4 */
	#step-3.past {
		opacity: 0;
	}

	#step-4 {
		text-align: center;
		opacity: 0;
		transition: all 1s ease;
	}

	#step-4.active {
		opacity: 1;
	}

	#step-4{
		text-align: center;
	}

	#step-4 > img{
		width: 200px;
	}

	#step-4 > p:last-child{
		opacity: 0;
		transform: translateY(1000px);
		transition: all 1.5s ease 2s;
	}

	#step-4.active > p:last-child {
		opacity: 1;
		transform: translateY(0px);
	}





/** step-5 **/

	/* transition step 4 to 5 */
	#step-4.past {
		opacity: 0;
	}

	#step-5 {
		text-align: center;
		opacity: 0;
		transition: all 1s ease 0.5s;
	}

	#step-5.active {
		opacity: 1;
	}



	/*
	** Apply styles to the parent element Words
	*/

	.Words {
		position: relative;
		top: -50px;
		left: -100px;
	  padding: 40px 0;
	  font-size: 0.8em;
	  font-weight: bold;

	  -webkit-transform: translate3d(0, 0, 0);
	          transform: translate3d(0, 0, 0);
	  -webkit-font-smoothing: antialiased;
	  -webkit-font-kerning: normal;
	  -webkit-text-size-adjust: 100%;
	}

	/*
	** Apply common styles to each line of text
	*/
	.Words-line {
	  height: 50px;
	  overflow: hidden;
	  position: relative;
	}
	.Words-line:nth-child(odd) {
	  -webkit-transform: skew(60deg, -19deg) scaleY(0.66667);
	          transform: skew(60deg, -19deg) scaleY(0.66667);
	}
	.Words-line:nth-child(even) {
	  -webkit-transform: skew(0deg, -20deg) scaleY(1.33333);
	          transform: skew(0deg, -20deg) scaleY(1.33333);
	}

	/* line 1 */
	.Words-line:nth-child(1) {
	  left: 1529px;
	  top: -500px;

	  transition: all 1.5s ease 0.4s;
	}
	#step-5.active .Words-line:nth-child(1) {
		left: 29px;
		top: 0px;
	}

	/* line 2 */
	.Words-line:nth-child(2) {
	  left: 1558px;
	  top: -500px;

	  transition: all 1.5s ease 0.4s;
	}
	#step-5.active .Words-line:nth-child(2) {
		left: 58px;
		top: 0px;
	}

	/* line 3 */
	.Words-line:nth-child(3) {
	  left: 1587px;
	  top: -500px;

	  transition: all 1.5s ease 1.4s;
	}
	#step-5.active .Words-line:nth-child(3) {
		left: 87px;
		top: 0px;
	}

	/* line 4 */
	.Words-line:nth-child(4) {
	  left: 1616px;
	  top: -500px;

	  transition: all 1.5s ease 2.4s;
	}
	#step-5.active .Words-line:nth-child(4) {
		left: 116px;
		top: 0px;
	}


	/*
	** Fine-grained text styles 
	*/
	.Words-line p {
		margin: 0px;
		border: 0px;
	  height: 50px;
	  line-height: 45px;
	  padding: 0 10px;
	  -webkit-transition: all .4s ease-in-out;
	  transition: all .4s ease-in-out;
	  -webkit-transform: translate3d(0, 0, 0);
	          transform: translate3d(0, 0, 0);
	  vertical-align: top;
	  white-space: nowrap;
	}

	/*
	** The interaction
	*/
	/*.Words p {
	  -webkit-transform: translate3d(0, 0, 0);
	          transform: translate3d(0, 0, 0);

	  transition: all 200ms ease 7s;
	}
	#step-5.active .Words p {
		-webkit-transform: translate3d(0, -50px, 0);
	          transform: translate3d(0, -50px, 0);
	}*/

	#step-5.active .Words p{
		-webkit-transform: translate3d(0, 0, 0);
	        	transform: translate3d(0, 0, 0);

		animation: marcheEffect 1.5s linear 6.4s both;
	}

	@keyframes marcheEffect {
	  from {
	  	-webkit-transform: translate3d(0, 0, 0);
	        	transform: translate3d(0, 0, 0);
	  }

	  20% {
	  	-webkit-transform: translate3d(0, 0, 0);
	        	transform: translate3d(0, 0, 0);
	  }

	  80% {
	  	-webkit-transform: translate3d(0, -50px, 0);
	        	transform: translate3d(0, -50px, 0);
	  }

	  to {
	   		-webkit-transform: translate3d(0, -50px, 0);
	        		transform: translate3d(0, -50px, 0);
	  }
	}


	#step-5.active .Words {
		-webkit-transform: translateY(110px);
	        	transform: translateY(110px);

		animation: elevateOneIt 1s ease-out 7.5s both;
	}

	@keyframes elevateOneIt {
	  from {
	  	-webkit-transform: translateY(110px);
	        	transform: translateY(110px);
	  }
/*
	  20% {
	  	-webkit-transform: translateY(-70px);
	        	transform: translateY(-70px);
	  }

	  30% {
	  	-webkit-transform: translateY(-55px);
	        	transform: translateY(-55px);
	  }

	  35% {
	  	-webkit-transform: translateY(-56px);
	        	transform: translateY(-56px);
	  }

	  40% {
	  	-webkit-transform: translateY(-70px);
	        	transform: translateY(-70px);
	  }

	  50% {
	  	-webkit-transform: translateY(-60px);
	        	transform: translateY(-50px);
	  }

	  52% {
	  	-webkit-transform: translateY(-61px);
	        	transform: translateY(-61px);
	  }

	  60% {
	   	-webkit-transform: translateY(-70px);
	        	transform: translateY(-70px);
	  }*/

	  to {
	   	-webkit-transform: translateY(0px);
	        	transform: translateY(0px);
	  }
	}

	/* after */

	#step-5.past .Words p{
		-webkit-transform: translate3d(0, -50px, 0);
	        	transform: translate3d(0, -50px, 0);
	}

	#step-5.past .Words {
		-webkit-transform: translateY(0px);
	        	transform: translateY(0px);
	}



	/*
	** Apply styles to the parent element WordsTwo
	*/

	.WordsTwo {
		position: relative;
		top: -150px;
		left: -100px;
	  padding: 40px 0;
	  font-size: 0.8em;
	  font-weight: bold;

	  -webkit-transform: translate3d(0, 0, 0);
	          transform: translate3d(0, 0, 0);
	  -webkit-font-smoothing: antialiased;
	  -webkit-font-kerning: normal;
	  -webkit-text-size-adjust: 100%;
	}

	/*
	** Apply common styles to each line of text
	*/
	.Words-line-two {
	  height: 50px;
	  overflow: hidden;
	  position: relative;
	}
	.Words-line-two:nth-child(odd) {
	  -webkit-transform: skew(60deg, -19deg) scaleY(0.66667);
	          transform: skew(60deg, -19deg) scaleY(0.66667);
	}
	.Words-line-two:nth-child(even) {
	  -webkit-transform: skew(0deg, -20deg) scaleY(1.33333);
	          transform: skew(0deg, -20deg) scaleY(1.33333);
	}

	/* line 1 */
	.Words-line-two:nth-child(1) {
	  left: 1645px;
	  top: -500px;

	  transition: all 1.5s ease 7.4s;
	}
	#step-5.active .Words-line-two:nth-child(1) {
		left: 145px;
		top: 0px;
	}

	/* line 2 */
	.Words-line-two:nth-child(2) {
	  left: 1674px;
	  top: -500px;

	  transition: all 1.5s ease 7.4s;
	}
	#step-5.active .Words-line-two:nth-child(2) {
		left: 174px;
		top: 0px;
	}

	/* line 3 */
	.Words-line-two:nth-child(3) {
	  left: 1703px;
	  top: -500px;

	  transition: all 1.5s ease 8.4s;
	}
	#step-5.active .Words-line-two:nth-child(3) {
		left: 203px;
		top: 0px;
	}

	/* line 4 */
	.Words-line-two:nth-child(4) {
	  left: 1732px;
	  top: -500px;

	  transition: all 1.5s ease 9.4s;
	}
	#step-5.active .Words-line-two:nth-child(4) {
		left: 232px;
		top: 0px;
	}


	/*
	** Fine-grained text styles
	*/
	.Words-line-two p {
		margin: 0px;
		border: 0px;
	  height: 50px;
	  line-height: 45px;
	  padding: 0 10px;
	  -webkit-transition: all .4s ease-in-out;
	  transition: all .4s ease-in-out;
	  -webkit-transform: translate3d(0, 0, 0);
	          transform: translate3d(0, 0, 0);
	  vertical-align: top;
	  white-space: nowrap;
	}

	/*
	** The interaction
	*/
	/*.WordsTwo p {
	  -webkit-transform: translate3d(0, 0, 0);
	          transform: translate3d(0, 0, 0);

	  transition: all 200ms ease 12s;
	}
	#step-5.active .WordsTwo p {
		-webkit-transform: translate3d(0, -50px, 0);
	          transform: translate3d(0, -50px, 0);
	}*/





/** step-6 **/

	/* transition step 5 to 6 */
	#step-5.past {
		opacity: 0;
	}

	#step-6 {
		text-align: center;
		opacity: 0;
		transition: all 1s ease 0.5s;
	}

	#step-6.active {
		opacity: 1;
	}


	/*#step-6 > span {
		width: 2000px;
		transform: scale(1,1);
		opacity: 0;

		transition: all 1s ease 1s;
	}
	#step-6.active > span {
		transform: scale(0.3,0.3);
		opacity: 1;
	}*/

	#step-6.active > span{
		transform: scale(4,4);
		opacity: 0;

		animation: eyeEffect 1.5s ease 1s both;
	}

	@keyframes eyeEffect {
	  from {
	  	transform: scale(4,4);
		opacity: 0;
	  }

	  to {
	   	transform: scale(1,1);
		opacity: 1;
	  }
	}

	#step-6 p:first-child {
		margin-top: 0px;
	}

	#step-6 img{
		width: 100%;
		height: auto;
		margin: 0 auto;
		padding: 25px 0;
		display: inline-block;
	}

	#step-6 p:nth-child(3) {
		margin: 10px auto;
	}
	#step-6.active p:nth-child(3) {
		animation: eyeEffect 1s ease 3s both;
	}

	#step-6 p:nth-child(4) {
		margin-bottom: 10px;
	}
	#step-6.active p:nth-child(4) {
		animation: eyeEffect 1s ease 5s both;
	}

	#step-6 p:last-child {
		margin: 0px auto;
	}
	#step-6.active p:last-child {
		animation: eyeEffect 1s ease 6s both;
	}



	/** step-7 **/

	/* transition step 6 to 7 */
	#step-6.past {
		opacity: 0;
	}

	#step-7 {
		text-align: center;
		opacity: 0;
		transition: all 1s ease 0.5s;
	}

	#step-7.active {
		opacity: 1;
	}

	#step-7 p {
		position: relative;
		left: 1500px;

		transition: all 1.5s ease 0.5s;
	}
	#step-7.active p {
		left: 0px;
	}
	#step-7.past p {
		left: 0px;
	}




/** step-16 **/

	#step-16{
		margin-top: 70px;
		padding: 30px 50px;
		display: inline;
		text-align: center;
		color: #4a4e4d;
		opacity: 0;
	}

	#step-16.active {
		animation: opacityOneIt 1.5s ease 1s both;
	}



	#step-16.active .lastUp {
		-webkit-transform: translateY(0px);
	        	transform: translateY(0px);

		animation: elevateOneItMore 1s ease-out 2s both;
	}

	@keyframes elevateOneItMore {
	  from {
	  	-webkit-transform: translateY(0px);
	        	transform: translateY(0px);
	  }

	  to {
	   	-webkit-transform: translateY(-200px);
	        	transform: translateY(-200px);
	  }
	}



/*
	** Apply styles to the parent element Words
	*/
	.ctn-Words-three {
	  opacity: 0;
	}
	#step-16.active .ctn-Words-three {
		animation: opacityOneIt 2s ease 2s both;
	}


	.Words-three {
		position: relative;
		top: 400px;
		left: -100px;
	  padding: 40px 0;
	  font-size: 0.6em;
	  font-weight: bold;

	  -webkit-transform: translate3d(0, 0, 0);
	          transform: translate3d(0, 0, 0);
	  -webkit-font-smoothing: antialiased;
	  -webkit-font-kerning: normal;
	  -webkit-text-size-adjust: 100%;
	}


	/*
	** Apply common styles to each line of text
	*/
	.Words-line-three {
	  height: 50px;
	  overflow: hidden;
	  position: relative;
	}
	.Words-line-three:nth-child(odd) {
	  -webkit-transform: skew(60deg, -19deg) scaleY(0.66667);
	          transform: skew(60deg, -19deg) scaleY(0.66667);
	}
	.Words-line-three:nth-child(even) {
	  -webkit-transform: skew(0deg, -20deg) scaleY(1.33333);
	          transform: skew(0deg, -20deg) scaleY(1.33333);
	}

	/* line 1 */
	.Words-line-three:nth-child(1) {
	  left: 29px;
	  top: 0px;

	}
	

	/* line 2 */
	.Words-line-three:nth-child(2) {
	  left: 58px;
		top: 0px;
	}

	/* line 3 */
	.Words-line-three:nth-child(3) {
	  left: 87px;
		top: 0px;
	}

	/* line 4 */
	.Words-line-three:nth-child(4) {
	  left: 116px;
		top: 0px;
	}

	/* line 5 */
	.Words-line-three:nth-child(5) {
	  left: 145px;
		top: 0px;
	}


	/*
	** Fine-grained text styles 
	*/
	.Words-line-three p {
		margin: 0px;
		border: 0px;
	  height: 50px;
	  line-height: 45px;
	  padding: 0 10px;
	  -webkit-transition: all .4s ease-in-out;
	  transition: all .4s ease-in-out;
	  -webkit-transform: translate3d(0, 0, 0);
	          transform: translate3d(0, 0, 0);
	  vertical-align: top;
	  white-space: nowrap;
	}

	/*
	** The interaction
	*/
	/*.Words p {
	  -webkit-transform: translate3d(0, 0, 0);
	          transform: translate3d(0, 0, 0);

	  transition: all 200ms ease 7s;
	}
	#step-5.active .Words p {
		-webkit-transform: translate3d(0, -50px, 0);
	          transform: translate3d(0, -50px, 0);
	}*/

	#step-16.active .Words-three p{
		-webkit-transform: translate3d(0, 0, 0);
	        	transform: translate3d(0, 0, 0);

		animation: marcheEffect 1.5s linear 6.4s both;
	}

	@keyframes marcheEffect {
	  from {
	  	-webkit-transform: translate3d(0, 0, 0);
	        	transform: translate3d(0, 0, 0);
	  }

	  20% {
	  	-webkit-transform: translate3d(0, 0, 0);
	        	transform: translate3d(0, 0, 0);
	  }

	  80% {
	  	-webkit-transform: translate3d(0, -50px, 0);
	        	transform: translate3d(0, -50px, 0);
	  }

	  to {
	   		-webkit-transform: translate3d(0, -50px, 0);
	        		transform: translate3d(0, -50px, 0);
	  }
	}


	#step-16.active .Words-three {
		-webkit-transform: translateY(0px);
	        	transform: translateY(0px);

		animation: elevateOneIt 1s ease-out 2s both;
	}

	@keyframes elevateOneIt {
	  from {
	  	-webkit-transform: translateY(0px);
	        	transform: translateY(0px);
	  }

	  to {
	   	-webkit-transform: translateY(-550px);
	        	transform: translateY(-550px);
	  }
	}

	/* after */

	#step-16.past .Words-three p{
		-webkit-transform: translate3d(0, -50px, 0);
	        	transform: translate3d(0, -50px, 0);
	}

	#step-16.past .Words-three {
		-webkit-transform: translateY(0px);
	        	transform: translateY(0px);
	}










/** expli **/

	.expli {
		opacity: 0.02;
		transition: all 0.7s ease 0.5s;
	}

	.expli.active {
		opacity: 1;
	}

	







